{% include 'structure/header.twig' %} {% if session.user.role == 0 %} {% include 'structure/navbar.twig' %} {% else %} {% include 'structure/navbarAdmin.twig' %} {% endif %}
<style>
    .salles {
        width: 100%;
    }
</style>
<section id="home">
    {% if sallesDispo %}
    <h3>Liste des salles disponibles</h3>
    <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th>Nom salle</th>
                <th>Type de sport</th>
                <th>Nombre de place dans la salle</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for salle in sallesDispo %}
            <tr>
                <td>{{ salle.nom_salle }}</td>
                <td>{{ salle.sport }}</td>
                <td>{{ salle.nb_place }}</td>
                <td>{{ salle.description }}</td>
                <td><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="reservation{{salle.nom_salle}}">Réserver</button></td>
            </tr>
            <script>
                $('#reservation{{salle.nom_salle}}').click(() => {
                    let dataReservation = {
                        id_user: '{{ session.user.id_user }}',
                        id_salle: '{{ salle.id_salle }}',
                        nom_salle: '{{ salle.nom_salle }}'
                    }
                    getReservation(dataReservation);
                })
            </script>
            {% endfor %}
        </tbody>
    </table>
    {% endif %} {% if salles %}
    <h3>Liste des salles reservé</h3>
    <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th>Nom salle</th>
                <th>Type de sport</th>
                <th>Nombre de place dans la salle</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for salle in salles %}
            <tr>
                <td>{{ salle.nom_salle }}</td>
                <td>{{ salle.sport }}</td>
                <td>{{ salle.nb_place }}</td>
                <td>{{ salle.description }}</td>
                <td>
                    {% if (session.user.role > 0) or (session.user.id_user == salle.id_user) %}
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="deleteReservation{{salle.nom_salle}}">Supprimer réservation</button> {% endif %}
                </td>
                <script>
                    $('#deleteReservation{{salle.nom_salle}}').click(() => {
                        let dataDeleteReservation = {
                            id_user: '{{ session.user.id_user }}',
                            id_salle: '{{ salle.id_salle }}',
                            nom_salle: '{{ salle.nom_salle }}'
                        }
                        getDeleteReservation(dataDeleteReservation);
                    })
                </script>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    {% endif %}
</section>




</div>
</main>
</div>
</body>

</html>